footer.st-emotion-cache-cio0dv.ea3mdgi1 {
  display: None;
}

header.st-emotion-cache-18ni7ap.ezrtsby2 {
  display: None;
}

section.st-emotion-cache-uf99v8.ea3mdgi5 {
  background-image: url("https://images.pexels.com/photos/19670/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: cover;
}

div.st-emotion-cache-6qob1r.eczjsme3 {
  background-image: url("https://images.pexels.com/photos/1516983/pexels-photo-1516983.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  background-size: contain;
}

.st-emotion-cache-1wmy9hl.e1f1d6gn0 p {
  font-size: 15;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  align-items: center;
  justify-content: center;
}

img  {
  border-radius: 20%;
}

.st-emotion-cache-6qob1r.eczjsme3 h2 {
  color: rgb(228, 188, 188);
}

.st-emotion-cache-6qob1r.eczjsme3 label {
  color: rgb(182, 159, 159);
}
